**
!backend/
!backend/**
!frontend/
!frontend/**
!services/
!services/riot-live/
!services/riot-live/**
!services/spark/
!services/spark/**
!jobs/
!jobs/**
**/node_modules/
**/dist/
**/__pycache__/
**/*.pyc
**/.env
**/.env.*
